{% extends "base.html" %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>

{% endblock %}
{% block extra_tab %}
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>
{% endcomment %}
{% endblock %}
{% block footer %}
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-2">
                  <p>Financé par</p>
                  <img src="../static/img/FFEM.png" alt="img3" style="height:100px">
              </div>
              <div class="col-md-2" style="margin-left:15%">
                  <img src="../static/img/logo_ue_couleur.png" alt="img3" style="width:100%">
              </div>
              <div class="col-md-2" style="margin-left:15%; width:400px">
                  <p>Contactez-nous</p>
                  <ul style="list-style: none;">
                      <li><span class="fa fa-map-marker"></span>   Lot II A 119 S, Soavimbahoaka</li>
                      <li>101 Antananarivo, Madagascar</li>
                      <li><span class="fa fa-envelope-open"></span>   madagascar@gret.org</li>
                      <li><span class="fa fa-phone"></span>   +261 32 07 008 08</li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
{% endblock footer %}